.product_card {
  margin: 0.25em; 
  border: 1px solid #ddd;
  overflow: hidden;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
}

.image_slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.product_image{
  cursor: pointer;
}
.slider_container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  max-width: 100%;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  position: relative;
  padding-top: 75%; 
}

.slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; 
}

.product_btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px; 
  cursor: pointer;
  border-radius: 5px;
  margin-top: 5px; 
  font-size: 0.8em; 
  transition: background-color 0.3s;
}

.product_btn:hover {
  background-color: #0056b3;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 5px; 
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.prev:hover, .next:hover {
  background-color: #191919;
}

.next {
  right: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 5px; 
}

.dot {
  height: 8px; 
  width: 8px;
  margin: 0 3px; 
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.dot.active {
  background-color: #717171;
}

.product_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  padding: 0.5em;
}
.product_name{
  min-height: 35px;
}
.product_name, .product_brand, .product_seller_p {
  margin: 0;
  font-size: 0.9em; 
}

.seller_name{
  font-weight: 500;
}
.product_description {
  flex-grow: 0;
  margin-bottom: 3px; 
  margin-top: 3px; 
  height: 80px; 
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  cursor: pointer;
}
.product_description:hover{
  color:#0056b3;
}

.product_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto; 
}

.product_price {
  font-weight: bold;
  font-size: 0.9em; 
}

.product_btn {
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .product_card {
    width: 12em; 
  }
}
