.product-list{
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

.products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    padding-top: 0.5em;

  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 15px;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.pagination button:hover {
    background-color: #ddd;
}

.pagination button.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}
